<!DOCTYPE html>
<html>
  <head>
    <title>Creasury</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Montserrat:400,700,200' %>
    <%= stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.0.6/css/all.css' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
